<div>
    <div>
      <label for="search">
        Location: 
      </label>
      <input id="search" [(ngModel)]="locacion" placeholder="search location">
      <button (click)="searchLocation()">Search location</button>
      <button (click)="goBack()">Back to user detail</button>
      <div *ngIf="places">
        <div *ngIf="places.length > 1">
          <table class="table table-dark">
            <thead>
              <tr>Place</tr>
              <tr>Country</tr>
              <tr></tr>
            </thead>
            <tbody>
              <tr *ngFor="let place of places">
                <td>{{place.name}}</td>
                <td>{{place.country.content}}</td>
                <td><button (click)="saveLocation(place.woeid, place.name, userId)">Asociate location</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  